<h1 class="mt-4">Registration successful</h1>
<p class="alert alert-warning alert-dismissible fade show">Verification required! We have sent an verification link to your E-mail. Please open your E-mail to get verification link</p>